* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    position: relative;
    width: 90%;
    background-color: #f3d38a;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    min-height: 70%;
  }
      
  h1 {
    padding: 0.5rem;
    margin-top: 0.25rem;
    font-size: 2.5rem;
  }

  h2 {
    word-wrap: break-word;
    margin-top: 1.5rem;
  }

  #timer {
    margin-top: 1rem;
  }

  .name {
    margin-top: 3rem;
  }

  #input-name {
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
    border: none;
  }

  #submit-name,
  #feedback-submit,
  #fifty-fifty,
  #extra-time {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #2dc77f;
    color: #fff;
    font-size: 1rem;
    margin-inline: 0.25rem;
  }

  button {
    cursor: pointer;
  }

  #helping-actions {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  #answer-buttons {
    display: flex;
    flex-direction: column;
  }
  
  #answer-buttons button {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    width: 60%;
    margin: 1rem auto 0 auto;
  }
  
  #submit-btn,
  #next-btn,
  #new-game {
    padding: 0.75rem;
    border-radius: 5px;
    border: none;
    background-color: #2dc77f;
    color: #fff;
    position: absolute;
    bottom: 1rem;
    font-size: 1.5rem;
    right: 1rem;
  }

  #submit-btn:disabled,
  #next-btn:disabled,
  #fifty-fifty:disabled,
  #extra-time:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    color: slategray;
  }

  .hidden {
    display: none;
  }
    
  #name {
    text-align: center;
    font-size: 1.5rem;
    bottom: 3rem;
    margin-top: 2rem;
  }

  #score {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.25rem;
  }
  
  .selected {
    background-color: rgba(165, 166, 167, 0.685);
  }

  .correct-answer {
    background-color: #2dc77f;
  }

  .wrong-answer {
    background-color: rgba(255, 0, 0, 0.527);
  }

  button:hover {
    opacity: 0.9;
  }

  #feedback-area {
    resize: none;
    width: 25%;
    font-size: large;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 5px;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 1.75rem;
    }

    .name {
      margin-top: 3.5rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    #input-name, h3 {
      font-size: 1rem;
    }

    #submit-name {
      margin-top: 2rem;
      font-size: 1.1rem;
    }

    #fifty-fifty,
    #extra-time,
    #submit-btn,
    #next-btn,
    #new-game,
    #feedback-submit {
      padding: 0.6rem;
      font-size: 1rem;
    }

    #answer-buttons button {
      font-size: 1rem;
      padding: 0.75rem;
      width: 90%;
    }

    #name,
    #score {
      margin-top: 1.5rem;
      font-size: 1.25rem;
    }

    #feedback-area {
      width: unset;
    }
  }